{% set link_avatars = "http://v-ie.uek.krakow.pl/~s176041/images/avatars/" %}
{% if not is_granted('ROLE_USER') %}
<div id="option-login">
	<button id="action-login" class="account-popup-hidden">LOGOWANIE</button>
</div>
<div id="option-register">
	<a id="action-register" title="Rejestracja" href="{{ path('fos_user_registration_register')}}">REJESTRACJA</a>
</div>
{% endif %}
{% if is_granted('ROLE_USER') %}
<div id="option-menu">
	<span>Witaj {{ app.user.username }}</span>
	<button id="action-menu" class="dropdown" title="Rejestracja" href="logout">MENU</button>
</div>
<div id="account-dropdown" style="display:none">
	<div id="left-box-drop">
		<img class="left-box-drop-image" src="{{ link_avatars }}/default.png"/>
		<a href="{{ link }}/profile/view/{{ app.user.id}}">{{ app.user.username }}</a>
		<div class="movie-meter-outer" style="margin-bottom:18px;">
			<p class="movie-meter-level">Pochwały : {{ app.user.praiseLevel }}</p>
			<p class="movie-meter-rank">Nowicjusz</p>
		</div>
		<a class="drop-option" href="">Panel Admina</a>
	</div>
	<div id="right-box-drop">
		<a class="drop-option" href="">Wiadomości</a>
		<a class="drop-option" href="">Moje posty</a>
		<a class="drop-option" href="">Edytuj profil</a>
		<a class="drop-option" href="">Ustawienia</a>
		<a class="drop-option" href="{{ path('fos_user_security_logout')}}">Wyloguj się</a>
	</div>
</div>
{% endif %}